.cover {
    max-width: 100%;
    padding-right:5%;
    width: auto;
    margin-left: 10px;
    min-height: 140px;
    font-family: Lato,sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 400;
    font-family: initial !important;
    font-size: initial !important;
}

.spotii-payment-text {
    color: #000000;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: -10px;
}
.progressbar-container {
    margin-top: 45px;
    margin-left: 20px;
}
.bar {
    width: 100%;
    height: 4px;
    margin: 5px 4px -15px -12px;
    background: #FF4D4A;
}


.steps {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 !important;
    margin-left: -24px !important;
}
.spotii-installment-amount {
    position: absolute;
    width: 75px;
    margin-left: 8px;
    margin-bottom:6px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.38rem;
   
    font-weight: 400;
    color:#000000;
}

.time-period {
    position: absolute;
    overflow-wrap: break-word;
    width: 85px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.18rem;
    font-weight: 400;
    color:#000000;
}

.wp-caption, img {
    height: auto;
    width: 40px;
}

.highlight {
    box-shadow: 0px 0px 9px 8px rgba(255, 77, 74, 0.15);
    width: 13px;
    height: 13px;
    border: 4px solid #ff4d4a;
    background: #fff;
    position: relative;
    border-radius: 50%;
    margin-top: 6px;
}

.highlight>.spotii-installment-amount {
    bottom: 10px;
}
.highlight>.time-period {
    top: 18px;
}
.step {
    background: #fff;
    position: relative;
    border-radius: 50%;
    border: 4px solid #ff4d4a;
    width: 13px;
    height: 13px;
    margin-top: 6px;
}
.step>.spotii-installment-amount {
    bottom: 10px;
}
.step>.time-period {
    top: 18px;
}

.spotii-grand-total {
    color: #000000; 
    margin-top: 40px;
    float: right;
    font-size: 1.5rem;
}

/*============================================================================== 
iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
and (max-width: 568px){
    .cover {
    max-width: 80%;
    width:auto;
    }
    .progressbar-container {
    margin-top: 45px;
    margin-left: 20px;
    width: auto !important;
    }
    .spotii-grand-total {
    color: #000000; 
    margin-top: 40px;
    float: right;
    font-size: 0.8rem;
    }
}


/*============================================================================== 
iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 667px){ 
     .cover {
    max-width: 80%;
    width:auto;
    }
    .progressbar-container {
    margin-top: 45px;
    margin-left: 20px;
    width: auto !important;
    }
    .spotii-grand-total {
    color: #000000; 
    margin-top: 40px;
    float: right;
    
    font-size: 0.8rem;
    }
}


/*============================================================================== 
iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) 
and (max-width: 736px){ 
     .cover {
    max-width: 80%;
    width:auto;
    }
    .progressbar-container {
    margin-top: 45px;
    margin-left: 20px;
    width: auto !important;
    }
    .spotii-grand-total {
    color: #000000; 
    margin-top: 40px;
    float: right;
    
    font-size: 0.8rem;
    }
}


/*============================================================================== 
iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
     .cover {
    max-width: 80%;
    width:auto;
    }

    .progressbar-container {
        margin-top: 45px;
        margin-left: 20px;
        width: auto !important;
    }
    .spotii-grand-total {
        color: #000000;
        margin-top: 40px;
        float: right;
        font-size: 0.8rem;
    }
}
.wc_payment_method payment_method_spotii
{
min-height:30px !important;
}
.cart-widget {
    font-size: 1.6rem;
}